In [20]:
#Creating a database
import psycopg2
con = psycopg2.connect(
   database="postgres", user='postgres', password='*', host='localhost', port= '5432'
)
con.autocommit = True
cur = con.cursor()
sql = '''CREATE DATABASE companies''';

cur.execute(sql)
con.close()

In [10]:
# criando arquivo csv e insert table lendo csv
#estab_df.to_csv('db_final.csv', index = False)
path = (r'D:\Documents\GitHub\data_processing\estab\cnae_secondary.csv')
sql = "COPY cnae_secondary FROM '" + path + "' DELIMITER ',' CSV HEADER"
inserir_db(sql)

In [1]:
#create table establishment
sql = '''CREATE TABLE establishment (
            id BIGSERIAL ,
            cnpj VARCHAR(255),
            cnpj_basico INTEGER,
            cnpj_ordem INTEGER,
            cnpj_dv INTEGER,
            cod_identificador_matriz_filial INTEGER,
            cod_situacao_cadastral INTEGER,
            data_situacao_cadastral VARCHAR(255),
            cod_motivo_situacao_cadastral INTEGER,
            data_inicio_atividade VARCHAR(255),
            cod_cnae_fiscal_primaria VARCHAR(255),
            end_tipo_de_logradouro VARCHAR(255),
            end_logradouro VARCHAR(255),
            end_numero VARCHAR(255),
            end_bairro VARCHAR(255),
            end_cep VARCHAR(255),
            end_uf VARCHAR(255),
            end_cod_municipio VARCHAR(255),
            email VARCHAR(255)
)'''

In [34]:
#create table companies
sql = '''CREATE TABLE companies (
            id SERIAL,
            cnpj INTEGER,
            razao_social VARCHAR(255),
            cod_natureza_juridica INTEGER,
            cod_qualificacao_do_responsavel INTEGER,
            capital_social REAL, 
            cod_porte_da_empresa INTEGER
)'''

In [6]:
#create table cnae_secondary
sql = '''CREATE TABLE cnae_secondary (
            id SERIAL,
            cnpj_basico INTEGER,
            cod_cnae_fiscal_secundaria INTEGER            
)'''

In [7]:
#Conexao com bd
import psycopg2

def conecta_db():
    con = psycopg2.connect(host='localhost', 
                         database='companies',
                         user='postgres', 
                         password='*')
    return con

In [8]:
#insert
def inserir_db(sql):
    con = conecta_db()
    cur = con.cursor()
    try:
        cur.execute(sql)
        con.commit()
    except (Exception, psycopg2.DatabaseError) as error:
        print("Error: %s" % error)
        con.rollback()
        cur.close()
        return 1
    cur.close()

In [42]:
#read
def read_db(sql):
    con = conecta_db()
    cur = con.cursor()
    cur.execute(sql)
    res_values = cur.fetchall() # retorna os valores
    res_columns = cur.description #retorna as colunas
    cur.close()
    return res_values, res_columns

In [40]:
sql = ('select * from companies')

In [43]:
df_values, df_columns = read_db(sql)

In [48]:
import pandas as pd
import matplotlib.pyplot as plt

In [49]:
print(df_columns)

(Column(name='id', type_code=23), Column(name='cnpj', type_code=23), Column(name='razao_social', type_code=1043), Column(name='cod_natureza_juridica', type_code=23), Column(name='cod_qualificacao_do_responsavel', type_code=23), Column(name='capital_social', type_code=700), Column(name='cod_porte_da_empresa', type_code=23))

In [50]:
df_companies = pd.DataFrame.from_records(df_values, columns=([item[0] for item in df_columns]))

In [51]:
df_companies

,id,cnpj,razao_social,cod_natureza_juridica,cod_qualificacao_do_responsavel,capital_social,cod_porte_da_empresa
0,0,4708941,ORLANDO JOSE DA SILVA DE SAO FRANCISCO DO CONDE,2135,50,0.0,1
1,1,4791665,OLD BEACH CONFECCOES LTDA,2062,49,10000.0,1
2,2,4835908,"GREMIO RECREATIVO,CULTURAL E SOCIAL ESCOLA DE ...",3999,16,0.0,5
3,3,4819590,CLELIA APARECIDA CESARIN,2135,50,0.0,1
4,4,4698380,SANTINA ZANCHETA FLAVIO,2135,50,0.0,5
...,...,...,...,...,...,...,...
112367,112367,4816754,NOVAIS & CIA LTDA,2062,49,50000.0,1
112368,112368,4849396,EDVALDO MANOEL DA SILVA,2135,50,9000.0,1
112369,112369,4826744,LOPES CONSTRUCOES LTDA,2062,49,0.0,5
112370,112370,4796899,JO - COMERCIO DE SUCATAS E SERVICOS EM GERAL LTDA,2062,49,16000.0,1
112371,112371,4684137,LUCIENE KARINA RIBEIRO BRITO,2135,50,0.0,1