In [39]:
import pandas as pd 
import re
from pycpfcnpj import cpfcnpj as pj

df_empresa = pd.read_csv('empresa-part-00.csv', decimal=",")
df_empresa = df_empresa.drop(['desc_ente_federativo_responsavel'], axis=1)

In [40]:
print(df_empresa.isnull().sum())

cnpj_basico                        0
razao_social                       0
cod_natureza_juridica              0
cod_qualificacao_do_responsavel    0
capital_social                     0
cod_porte_da_empresa               0
dtype: int64

In [41]:
df_empresa[df_empresa.duplicated('cnpj_basico')] # nenhum cnpj duplicado

Empty DataFrame
Columns: [cnpj_basico, razao_social, cod_natureza_juridica, cod_qualificacao_do_responsavel, capital_social, cod_porte_da_empresa]
Index: []

In [42]:
#criando planilha companies
df_empresa.to_csv('companies.csv')

In [43]:
df_empresa

,cnpj_basico,razao_social,cod_natureza_juridica,cod_qualificacao_do_responsavel,capital_social,cod_porte_da_empresa
0,4708941,ORLANDO JOSE DA SILVA DE SAO FRANCISCO DO CONDE,2135,50,0.0,1
1,4791665,OLD BEACH CONFECCOES LTDA,2062,49,10000.0,1
2,4835908,"GREMIO RECREATIVO,CULTURAL E SOCIAL ESCOLA DE ...",3999,16,0.0,5
3,4819590,CLELIA APARECIDA CESARIN,2135,50,0.0,1
4,4698380,SANTINA ZANCHETA FLAVIO,2135,50,0.0,5
...,...,...,...,...,...,...
112367,4816754,NOVAIS & CIA LTDA,2062,49,50000.0,1
112368,4849396,EDVALDO MANOEL DA SILVA,2135,50,9000.0,1
112369,4826744,LOPES CONSTRUCOES LTDA,2062,49,0.0,5
112370,4796899,JO - COMERCIO DE SUCATAS E SERVICOS EM GERAL LTDA,2062,49,16000.0,1
112371,4684137,LUCIENE KARINA RIBEIRO BRITO,2135,50,0.0,1